body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}

#app {
  background-color: #282c34;
  width: 100vw;
  height: 100%;
  padding: 1em;
  margin: 0;
}
